body{
  display: flex;
  flex-flow: column;
}

aside {
  margin: 0;
}

.duckpic {
  border-right: 20px solid #546294;
  height: 100%;
}

.manduck {
  background-color: #fffff0;
}

.ladyduck {
  background-color: #abb7e0;
}

section, article {
  margin: 0 auto 20px auto;
  display: flex;
  flex-flow: row;
  width: 600px;
  position: relative;
}

.data {
  font-family: Arial, sans-serif;
  padding-left: 10px;
}

table {
  text-align: left;
}

th {
  width: 120px;
}

.icon {
  position: absolute;
  left: 545px;
  bottom: 45px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

p {
  font-size: 14px;
}
